<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/vue.js"></script>

    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>计算器</h1>
        <input type="text" v-model="num1">
        <select name="" id="" v-model="fuhao">
            <option value="1">+</option>
            <option value="2">-</option>
            <option value="3">*</option>
            <option value="4">/</option>
        </select>
        <input type="text" v-model="num2">
        <button @click="calc">计算</button>
        <h2>计算结果：{{result}}</h2>
    </div>
</body>
</html>
<script>
    new Vue({
        el:"#app",
        data:{
            num1:0,
            fuhao:1,
            num2:0,
            result:0
        },
        methods: {
            calc(){
               if(this.fuhao==4){
                   this.result=(parseFloat(this.num1)/parseFloat(this.num2)).toFixed(2);  //数学运算
               } 
               if(this.fuhao==1){
               }
            }
        },
        
    })
</script>